<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
  <listener class-name="com.testapi.until.TestRunnerListener"/>
        <listener class-name="com.testapi.until.RetryListener"/>
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testapi.casev.Testapi"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
